.application-outlet {
  overflow-y: auto;
  height: $application-height;
  margin-top: $navigation-height;
}

// Custom webkit scrollbars
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  padding: 0 2px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: $primary;
}
