html,
body {
  min-height: 100vh;
}

body {
  padding-top: 80px;
}

// This class is applied to Atlas routes
// Because the panzoom UI, the scrolling patterns are different there.
body.scroll-lock {
  overflow: hidden;
  height: 100vh;
}
