@import url('https://fonts.googleapis.com/css?family=Marcellus+SC|Open+Sans:300,400');

// LEGACY BEGIN

$atlas-width: 4096px;
$atlas-height: 2304px;

$white-color: #fdfdfd;
$black-color: #161616;
$background-color: #292c36;
$background-darker-color: #1e2028;
$primary-color: #566082;

$white-tier-color: #d7cfd5;
$yellow-tier-color: #c78a30;
$red-tier-color: #be3925;

$normal-color: #fff;
$unique-color: #af6025;
$rare-color: #ff7;
$magic-color: #88f;

$success-color: #64a747;
$warning-color: #bd9f43;
$error-color: #a72932;

$border-radius: 5px;

$font-family-regular: 'Open Sans', sans-serif;
$font-family-accent: 'Marcellus SC', serif;

$padding: 15px;

$navigation-height: 59px;

// Atlas
$atlas-sextants-item-radius: 150px;

// Animations
$map-fading-in-duration: 1500ms;

// Z-Indexes
$toaster-z-index: 2200;
$modal-z-index: 2100;
$navigation-z-index: 2000;
$atlas-map-z-index: 1000;
$atlas-map-glow-z-index: 900;
$atlas-sextants-z-index: 800;

// LEGACY END

//
// Color system
//
$white: #fdfdfd;
$gray-100: #f6f6f6;
$gray-200: #f0f0f0;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #999;
$gray-700: #555;
$gray-800: #333;
$gray-900: #222;
$black: #111;

$primary: #566082;
$secondary: #64512d;
//$success: $green;
//$info: $cyan;
$warning: #816710;
$danger: #7a2928;
$light: #80869b;
$dark: #363842;
$darker: #22242d;

$theme-colors: (
  'darker': $darker
);

$yiq-contrasted-threshold: 200;

//
// Options
//
$enable-print-styles: false;

//
// Spacing
//
$spacer: 1.5rem;

//
// Body
//
$body-bg: $dark;
$body-color: $white;
$link-color: $white;

//
// Tables
//
$table-border-color: rgba($white, 0.1);

//
// Fonts
//
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-accent: 'Marcellus SC', serif;

$font-size-base: 1rem;
$font-size-lg: ($font-size-base * 1.25);
$font-size-sm: ($font-size-base * .875);

$headings-font-family: $font-family-accent;

//
// Navs
//
$nav-tabs-border-color: rgba($gray-200, 0.45);
$nav-tabs-link-hover-border-color: $nav-tabs-border-color;
$nav-tabs-link-active-color: $white;
$nav-tabs-link-active-border-color: $nav-tabs-border-color;

//
// Navbar
//
$navbar-padding-y: ($spacer / 4);
$navbar-dark-color: rgba($white, 0.65);
$navbar-dark-hover-color: rgba($white, 0.85);

//
// Modals
//
$modal-content-border-color: rgba($black, 0.1);

//
// Popovers
//
$popover-bg: $dark;
$popover-font-size: $font-size-lg;
$popover-header-padding-x: 1.25rem;

//
// Close
//
$close-color: $white;

//
// Cards
//
$card-bg: $darker;

//
// List group
//
$list-group-bg: rgba($darker, 0.65);
$list-group-alt-bg: rgba($darker, 0.85);
$list-group-border-color: $darker;
$list-group-hover-bg: rgba($darker, 0.9);
$list-group-action-active-bg: $darker;
$list-group-item-padding-y: 0.35rem;
$list-group-item-padding-x: 0.65rem;

//
// Modals
//
$modal-content-bg: $dark;
$modal-header-border-color: rgba($gray-200, 0.25);
