@import url('https://fonts.googleapis.com/css?family=Marcellus+SC|Open+Sans:300,400');

//
// Global
//
$navigation-height: 59px;

//
// Z-Indexes
//
$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;
$zindex-popover: 1060;
$zindex-tooltip: 1070;
$zindex-toaster: 1100;

//
// Atlas
//
$atlas-sextants-item-radius: 150px;
$atlas-width: 4096px;
$atlas-height: 2304px;

//
// Color system
//
$white: #fdfdfd;
$gray-100: #f6f6f6;
$gray-200: #f0f0f0;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #999;
$gray-700: #555;
$gray-800: #333;
$gray-900: #222;
$black: #111;

$primary: #566082;
$secondary: #64512d;
//$success: $green;
//$info: $cyan;
$warning: #816710;
$danger: #7a2928;
$light: #80869b;
$dark: #363842;
$darker: #22242d;

$theme-colors: (
  'darker': $darker
);

$yiq-contrasted-threshold: 200;

$white-tier-color: #d7cfd5;
$yellow-tier-color: #c78a30;
$red-tier-color: #be3925;
$pantheon-color: #7c72be;

$normal-color: #fff;
$unique-color: #af6025;
$rare-color: #ff7;
$magic-color: #88f;
$currency-color: #e6b489;

//
// Options
//
$enable-print-styles: false;

//
// Spacing
//
$spacer: 1.5rem;

//
// Body
//
$body-bg: $dark;
$body-color: $white;

//
// Links
//
$link-color: $white;
$link-decoration: none;
$link-hover-color: lighten($primary, 15%);
$link-hover-decoration: none;

//
// Tables
//
$table-border-color: rgba($white, 0.1);

//
// Fonts
//
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-accent: 'Marcellus SC', serif;

$font-size-base: 1rem;
$font-size-lg: ($font-size-base * 1.25);
$font-size-sm: ($font-size-base * 0.875);

$headings-font-family: $font-family-accent;

//
// Navs
//
$nav-tabs-border-color: rgba($gray-200, 0.45);
$nav-tabs-link-hover-border-color: $nav-tabs-border-color;
$nav-tabs-link-active-color: $white;
$nav-tabs-link-active-border-color: $nav-tabs-border-color;

//
// Navbar
//
$navbar-padding-y: ($spacer / 4);
$navbar-dark-color: rgba($white, 0.65);
$navbar-dark-hover-color: rgba($white, 0.85);

//
// Modals
//
$modal-content-border-color: rgba($black, 0.1);

//
// Popovers
//
$popover-bg: $dark;
$popover-font-size: $font-size-lg;
$popover-header-padding-x: 1.25rem;

//
// Close
//
$close-color: $white;

//
// Cards
//
$card-bg: $darker;

//
// List group
//
$list-group-bg: rgba($darker, 0.65);
$list-group-alt-bg: rgba($darker, 0.85);
$list-group-border-color: $darker;
$list-group-hover-bg: rgba($darker, 0.9);
$list-group-action-active-bg: $darker;
$list-group-action-color: $gray-100;
$list-group-item-padding-y: 0.35rem;
$list-group-item-padding-x: 0.65rem;

//
// Modals
//
$modal-content-bg: $dark;
$modal-header-border-color: rgba($gray-200, 0.25);
