@import url('https://fonts.googleapis.com/css?family=Marcellus+SC|Open+Sans');

$atlas-width: 4096px;
$atlas-height: 2304px;

$white-color: #fdfdfd;
$black-color: #161616;
$background-color: #292c36;
$primary-color: #83817c;

$border-radius: 5px;

$font-family-regular: 'Open Sans', sans-serif;
$font-family-accent: 'Marcellus SC', serif;

$padding: 15px;

// Atlas
$atlas-sextants-item-radius: 150px * 2;

$atlas-map-z-index: 1000;
$atlas-map-glow-z-index: 900;
$atlas-sextants-z-index: 800;

// Animations
$map-fading-in-duration: 1500ms;
