.atlas-sextants__item {
  position: absolute;
  z-index: $atlas-sextants-z-index;
  width: $atlas-sextants-item-radius * 2;
  height: $atlas-sextants-item-radius * 2;
  border: 2px solid $white-color;
  border-radius: 50%;
  margin: ($atlas-sextants-item-radius * -1) 0 0 ($atlas-sextants-item-radius * -1);
}

.atlas-sextants__item--white {
  border-color: $white-tier-color;
}

.atlas-sextants__item--yellow {
  border-color: $yellow-tier-color;
}

.atlas-sextants__item--red {
  border-color: $red-tier-color;
}
