@keyframes sextant-spin {
  100% { transform: rotate(360deg); }
}

.atlas-sextants__item-wrapper {
  position: absolute;
  width: $atlas-sextants-item-radius;
  height: $atlas-sextants-item-radius;
  margin: ($atlas-sextants-item-radius / -2) 0 0 ($atlas-sextants-item-radius / -2);
  z-index: $atlas-sextants-z-index;
  animation: sextant-spin 15000ms infinite linear;
}

.atlas-sextants__item {
  width: 100%;
  height: 100%;

  g {
    stroke: blue;
  }
}
