.sextant {
  position: absolute;
  z-index: $zindex-fixed - 2;
  width: $atlas-sextants-item-radius * 2;
  height: $atlas-sextants-item-radius * 2;
  border: 2px solid $white;
  border-radius: 50%;
  margin: ($atlas-sextants-item-radius * -1) 0 0 ($atlas-sextants-item-radius * -1);
}

.sextant-white {
  border-color: $white-tier-color;
}

.sextant-yellow {
  border-color: $yellow-tier-color;
}

.sextant-red {
  border-color: $red-tier-color;
}
