{{#each map.sextants as |sextantMap|}}
  <div
    class="atlas-sextants__item atlas-sextants__item--{{sextantMap.tierColor}}"
    style={{css-offset sextantMap.offsetLeft sextantMap.offsetTop}}
  ></div>
{{/each}}
