{{#each @map.confirmedSextants as |map|}}
  <div
    local-class="sextant sextant-{{map.tierColor}}"
    style={{css-offset map.offsetLeft map.offsetTop}}
  ></div>
{{/each}}

{{#each @map.potentialSextants as |map|}}
  <div
    local-class="sextant sextant-{{map.tierColor}} potential"
    style={{css-offset map.offsetLeft map.offsetTop}}
  ></div>
{{/each}}
