.challenges-list {
  overflow-y: auto;
  width: 450px;
  height: 100%;
}

.challenges-list-item {
  &.active {
    background: $dark;
  }
}

.content {
  overflow-y: auto;
  height: 100%;
}

.slim-progress {
  height: 3px;
}
