.task-load-container__loader-wrapper {
  padding: $padding;
}

.task-load-container__loader-wrapper--center {
  text-align: center;
}

.task-load-container__loader-wrapper--left {
  text-align: left;
}

.task-load-container__loader-wrapper--right {
  text-align: right;
}
