{{#if task.isRunning}}
  <div class="task-load-container__loader-wrapper task-load-container__loader-wrapper--{{loaderAlignment}}">
    {{fa-icon 'spinner' spin=true size='2x'}}
  </div>
{{else}}
  {{yield}}
{{/if}}