.alert {
  padding: 15px;
  border-radius: $border-radius;
  text-align: justify;
}

.alert__title {
  margin-bottom: 5px;
  font-weight: 400;
}

.alert--warning {
  border: 1px solid rgba($warning-color, 0.75);
  background-color: $warning-color;
}

.alert--success {
  border: 1px solid rgba($success-color, 0.75);
  background-color: $success-color;
}

.alert--error {
  border: 1px solid rgba($error-color, 0.75);
  background-color: $error-color;
}
