.fade-card {
  padding: 15px 0 15px 15px;
  border-radius: $border-radius;
  margin-top: 15px;
  background: linear-gradient(to right, rgba($primary-color, 0.5), $background-color);
}

.fade-card--success {
  background: linear-gradient(to right, rgba($success-color, 0.5), $background-color);
}

.fade-card--error {
  background: linear-gradient(to right, rgba($error-color, 0.5), $background-color);
}

.fade-card--warning {
  background: linear-gradient(to right, rgba($warning-color, 0.5), $background-color);
}

.fade-card__title {
  margin-bottom: 10px;
  font-family: $font-family-accent;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
