.rich-table {
  width: 100%;
}

.rich-table__head-row-cell {
  padding: 10px 5px;
  text-align: left;
  font-family: $font-family-accent;
  font-size: 1.2rem;
  font-weight: 400;
}

.rich-table__head-row-cell--centered {
  text-align: center;
}

.rich-table__body-row {
  &:nth-child(even) {
    background-color: lighten($background-color, 2.5%);
  }
}

.rich-table__body-row-cell {
  padding: 5px;
  vertical-align: middle;
}

.rich-table__body-row-cell--button {
  border: 5px solid transparent;
  border-radius: $border-radius;
  text-align: center;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $primary-color;
  }
}
