{{! template-lint-disable no-bare-strings no-implicit-this }}

{{#if isOutdated}}
  <div class="alert alert-warning d-flex justify-content-between align-items-center">
    <div>
      {{fa-icon "exclamation-circle" class="mr-2"}}
      {{t "components.release_banner.new_release_warning" latestVersion=latestRelease.version currentVersion=currentVersion}}
    </div>

    {{#pow-external-link url=latestRelease.githubReleaseUrl class="btn btn-primary ml-2"}}
      {{fa-icon "github" prefix="fab" class="mr-1"}}
      {{t "components.release_banner.github_release"}}
    {{/pow-external-link}}
  </div>
{{/if}}
