<div class="pt-3 mb-3 bg-darker">
  <ul class="nav nav-tabs px-3">
    <li class="nav-item">
      {{#pow-link "settings.global" class="nav-link"}}
        {{t "components.page.settings_page.global"}}
      {{/pow-link}}
    </li>

    <li class="nav-item">
      {{#pow-link "settings.stash-tabs" class="nav-link"}}
        {{t "components.page.settings_page.stash_tabs"}}
      {{/pow-link}}
    </li>
  </ul>
</div>

{{yield}}
