& {
  @include page;
}

.settings-global-page__title {
  @include title;
}

.settings-global-page__leagues {
  display: flex;
  margin-top: 10px;
}

.settings-global-page__leagues-item {
  @include button;

  margin-left: 10px;

  &:first-child {
    margin-left: 0;
  }

  svg {
    margin-right: 5px;
  }
}

.settings-global-page__authentication-section {
  width: 400px;
  margin-top: 5px;
}

.settings-global-page__authentication-section-test {
  margin-top: $padding;
  text-align: center;
}
