<div class="d-flex align-items-center text">
  {{fa-icon "bolt" class="mr-1"}}

  {{t "components.poe_ninja_credit.credit"}}

  {{#pow-external-link url=websiteUrl class="ml-1"}}
    <img src="/assets/images/poe-ninja-logo.png" alt="" local-class="logo">
    {{t "components.poe_ninja_credit.poe_ninja"}}
  {{/pow-external-link}}
</div>
