.rarity {
  width: 15px;
  height: 15px;
  border: 2px solid $white;
  border-radius: 50%;
}

.rarity-normal {
  background-color: $normal-color;
}

.rarity-magic {
  background-color: $magic-color;
}

.rarity-rare {
  background-color: $rare-color;
}

.rarity-unique {
  background-color: $unique-color;
}

.mod {
  font-size: 0.9rem;
}
