<button class="btn btn-warning" {{action this.toggleWidgetsLock}}>
  lock toggle
</button>

{{#each @activeDashboard.widgets as |widgets index|}}
  <div>
    {{#each widgets as |widget|}}
      {{pow-dashboard-widget
        widget=widget
        isLocked=this.widgetsAreLocked
        onUpdate=(action this.updateWidget)
      }}
    {{/each}}

    {{#unless this.widgetsAreLocked}}
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
          Dropdown button
        </button>
        <div class="dropdown-menu">
          {{#each this.availableWidgets as |widget|}}
            <button class="dropdown-item" {{action this.addWidget widget index}}>
              {{widget.label}}
            </button>
          {{/each}}
        </div>
      </div>
    {{/unless}}
  </div>
{{/each}}
