.map-information-page__title {
  padding-left: $padding;
  margin-top: $padding;
  font-family: $font-family-accent;
  font-size: 1.5rem;
  letter-spacing: 3px;
}

.map-information-page__drops {
  display: flex;
  flex-direction: column;
}

.map-information-page__drops-item {
  width: 100%;
  margin-top: $padding / 4;
}

.map-information-page__drops-item-link {
  display: block;
  width: 100%;
  padding: ($padding / 2) $padding;
  text-decoration: none;
  font-size: 0.9rem;
  color: inherit;
  transition: padding 250ms ease-in;

  &:hover {
    padding-left: $padding * 2;
    background-color: $primary-color;
  }
}

.map-information-page__layout {
  display: flex;
  align-items: center;
  padding: $padding;
}

.map-information-page__layout-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 60px;
  border-radius: $border-radius;
  margin-right: $padding;
  background-color: darken($background-color, 5%);
  font-family: $font-family-accent;
  font-size: 1.8rem;
}

.map-information-page__layout-description {
  position: relative;
  opacity: 0.9;
  padding-left: $padding;
  font-size: 0.9rem;
  font-style: italic;

  &::before {
    content: '“';
    position: absolute;
    top: -6px;
    left: -5px;
    font-size: 2rem;
  }
}

.map-information-page__boss {
  padding: $padding;
}
