$atlas-popover-width: 400px;

& {
  position: absolute;
  display: flex;
  flex-direction: column;
  opacity: 0;
  width: $atlas-popover-width;
  background-color: $background-color;
  border-radius: $border-radius;
  margin-top: -30px;
  margin-left: 35px;
  transition: opacity 150ms linear;

  &:before {
    content: '';
    position: absolute;
    top: 20px;
    left: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid darken($background-color, 5%);
  }
}

&:not(.atlas-popover--visible) {
  transition-duration: 0ms;
}

&.atlas-popover--visible {
  opacity: 1;
}

&.atlas-popover--reversed {
  margin-left: $atlas-popover-width * -1 - 35px;
  text-align: right;

  &:before {
    left: $atlas-popover-width;
    border-left: 10px solid darken($background-color, 5%);
    border-right: 0;
  }
}

.atlas-popover__header {
  padding: $padding;
  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
  background-color: darken($background-color, 5%);
}

.atlas-popover__header-title {
  font-family: $font-family-accent;
  font-size: 1.5rem;
}

.atlas-popover__body {
  padding: $padding;
}
