{{#pow-modal
  isOpened=isOpened
  onClose=(action onClose)
  title=(t "components.changelog_modal.title")
  size="large"
}}
  <div class={{styleNamespace}}>
    {{markdown-to-html changelogMarkdown local-class="markdown"}}
  </div>
{{/pow-modal}}
