$navigation-spacing: 15px;

& {
  display: flex;
  position: fixed;
  z-index: $navigation-z-index;
  top: 0;
  right: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  height: $navigation-height;
  padding: 0 $padding;
  background-color: lighten($background-color, 7.5%);
}

.navigation__left-section,
.navigation__right-section {
  display: flex;
  align-items: center;
  height: 100%;
}

.navigation__left-section-logo {
  height: $navigation-height - 15px;
  margin-right: $navigation-spacing;
}

.navigation__left-section-brand {
  margin-right: $navigation-spacing;
  text-transform: uppercase;
  font-family: $font-family-accent;
  font-size: 1.5rem;
  letter-spacing: -2px;
}

.navigation__left-section-link,
.navigation__right-section-link {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  font-family: $font-family-accent;
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: $white-color;

  &:hover {
    background-color: lighten($background-color, 2.5%);
  }
}

.navigation__left-section-link--active,
.navigation__right-section-link--active {
  background-color: $primary-color;
  pointer-events: none;
}

.navigation__right-section-league {
  padding: 5px 10px;
  border-radius: $border-radius;
  margin-right: $navigation-spacing;
  background-color: $background-darker-color;
  font-size: 0.8rem;
}
