.navbar-brand {
  padding: 0;
  text-transform: uppercase;
  font-family: $font-family-accent;
  font-size: 1.5rem;
  letter-spacing: -2px;

  img {
    height: 35px;
  }
}

.badge-league {
  font-size: 0.95rem;
}

.nav-link {
  position: relative;

  &::before {
    content: '';
    height: 4px;
    width: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $white;
    transition: width 100ms;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  &.active::before {
    width: 100%;
  }
}
