.navbar-brand {
  padding: 0;
  text-transform: uppercase;
  font-family: $font-family-accent;
  font-size: 1.5rem;
  letter-spacing: -2px;

  img {
    height: 35px;
  }
}

.badge-league {
  font-size: 0.95rem;
}
