<div class="navigation__section">
  <img src="assets/images/logo-small.png" alt="Logo" class="navigation__section-logo">

  <div class="navigation__section-brand">PoeWorld</div>

  {{#pow-link 'atlas' class='navigation__section-link'}}
    {{t 'components.navigation.atlas'}}
  {{/pow-link}}
</div>

<div class="navigation__section">
  {{#pow-link 'settings' class='navigation__section-link'}}
    {{t 'components.navigation.settings'}}
  {{/pow-link}}
</div>