<div class="navigation__left-section">
  <img src="assets/images/logo-small.png" alt="Logo" class="navigation__left-section-logo">

  <div class="navigation__left-section-brand">PoeWorld</div>

  {{#pow-link 'atlas' class='navigation__left-section-link'}}
    {{t 'components.navigation.atlas'}}
  {{/pow-link}}
</div>

<div class="navigation__right-section">
  <div class="navigation__right-section-league">
    {{leagueName}}
  </div>

  {{#pow-link 'settings' class='navigation__right-section-link'}}
    {{t 'components.navigation.settings'}}
  {{/pow-link}}
</div>