$map-page-width: 700px;
$map-header-height: 240px;

.map-page {
  display: flex;
  position: fixed;
  top: $navigation-height;
  right: 0;
  flex-direction: column;
  width: $map-page-width;
  height: $application-height;
  background-color: $body-bg;
}

.header-stat {
  border-radius: $border-radius;
  font-family: $font-family-accent;
  font-size: $font-size-base * 1.5;
}

.header-map-icon {
  max-height: 60px;
}

.header-tier {
  border-radius: $border-radius;
  color: $darker;
}

.header-tier-white {
  background-color: $white-tier-color;
}

.header-tier-yellow {
  background-color: $yellow-tier-color;
}

.header-tier-red {
  background-color: $red-tier-color;
}

.yield-wrapper {
  overflow-y: auto;
  flex-grow: 1;
}
