$map-page-header-background-color: darken($background-color, 5%);

& {
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: auto;
  width: 600px;
  height: 100vh;
  background-color: $background-color;
}

.map-page__back {
  position: absolute;
  top: $padding;
  left: -50px;
  padding: 7px 15px;
  background-color: $map-page-header-background-color;
  outline: none;
  font-size: 2rem;
  color: $white-color;
  border-bottom-left-radius: $border-radius;
  border-top-left-radius: $border-radius;
}

.map-page__header {
  padding: $padding $padding ($padding * 2);
  background-color: $map-page-header-background-color;
}

.map-page__header-title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: $font-family-accent;
  font-size: 2rem;
  letter-spacing: 2px;
}

.map-page__header-title-image {
  width: 50px;
  margin-left: $padding;
}

.map-page__header-subtitle {
  display: flex;
  align-items: center;
  margin-top: $padding;
  font-family: $font-family-accent;
  font-size: 1.2rem;
  letter-spacing: 3px;
}

.map-page__header-subtitle-tier,
.map-page__header-subtitle-area-level {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50px;
  border-radius: $border-radius;
  background-color: $background-color;
}

.map-page__header-subtitle-tier {
  margin-right: $padding;
}

.map-page__header-subtitle-tier-value {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 35px;
  border-radius: $border-radius;
  margin-left: $padding / 2;
  color: $background-color;
}

.map-page__header-subtitle-tier--white .map-page__header-subtitle-tier-value {
  background-color: $white-tier-color;
}

.map-page__header-subtitle-tier--yellow .map-page__header-subtitle-tier-value {
  background-color: $yellow-tier-color;
}

.map-page__header-subtitle-tier--red .map-page__header-subtitle-tier-value {
  background-color: $red-tier-color;
}

.map-page__nav {
  display: flex;
}

.map-page__nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: ($padding / 2) 0;
  background-color: lighten($background-color, 7.5%);
  text-decoration: none;
  font-family: $font-family-accent;
  color: $white-color;
  flex-grow: 1;

  &.active {
    background-color: $primary-color;

    &:hover {
      background-color: $primary-color;
      cursor: default;
    }
  }

  &:hover {
    background-color: lighten($background-color, 2.5%);
  }
}

.map-page__nav-link-label {
  margin-left: $padding / 2;
}
