$map-page-width: 700px;
$map-header-height: 240px;

& {
  position: fixed;
  top: $navigation-height;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: $map-page-width;
  height: calc(100vh - #{$navigation-height});
  padding-top: $map-header-height;
  background-color: $body-bg;
}

.header {
  position: fixed;
  top: $navigation-height;
  right: 0;
  width: $map-page-width;
}

.header-stat {
  border-radius: $border-radius;
  font-family: $font-family-accent;
  font-size: $font-size-base * 1.5;
}

.header-map-icon {
  max-height: 60px;
}

.header-tier {
  border-radius: $border-radius;
  color: $darker;
}

.header-tier-white {
  background-color: $white-tier-color;
}

.header-tier-yellow {
  background-color: $yellow-tier-color;
}

.header-tier-red {
  background-color: $red-tier-color;
}

.container {
  position: relative;
  z-index: -1;
}
