{{! template-lint-disable no-bare-strings no-implicit-this }}

{{#pow-responsive-container}}
  {{pow-navigation}}
  {{pow-toaster}}
  {{pow-changelog-modal}}

  <div class="application-outlet">
    {{outlet}}
  </div>
{{/pow-responsive-container}}
