& {
  position: relative;
  width: $atlas-width;
  height: $atlas-height;
  background: #000;
}

.atlas__map-background,
.atlas__panzoom-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.atlas__map-background {
  background-image: url('/assets/images/atlas.jpg');
}
