{{#pow-panzoom-container
  class='atlas__panzoom-container'
  minZoom=1
  maxZoom=1.5
  zoomSpeed=0.075
  onPanzoom=(action panzoom)
}}
  <div class="atlas__map-background"></div>

  {{pow-atlas/maps
    maps=maps
    onMapEnter=(action mapEnter)
    onMapLeave=(action mapLeave)
  }}
{{/pow-panzoom-container}}

{{pow-atlas/popover
  map=hoveredMap
  zoom=zoom
  panTop=panTop
  panLeft=panLeft
}}
