<div local-class="atlas">
  <div local-class="wrapper">
    {{#pow-panzoom-container
      local-class="panzoom-container"
      minZoom=0.5
      maxZoom=1
      zoomSpeed=0.075
      onPanzoom=(action this.panzoom)
      onPanzoomInitialize=(action this.panzoomInitialize)
    }}
      <div local-class="map-background"></div>

      {{#if this.maps}}
        <ul class="list-unstyled">
          {{#each this.maps as |map|}}
            {{pow-atlas/map
              map=map
              currentMap=@currentMap
              hoveredMap=this.hoveredMap
              onMapClick=(action this.mapSelect)
            }}
          {{/each}}
        </ul>
      {{/if}}

      {{#if @currentMap}}
        {{pow-atlas/sextants
          map=@currentMap
        }}
      {{/if}}
    {{/pow-panzoom-container}}
  </div>

  {{pow-atlas/searcher
    maps=this.searchedMaps
    onMapSearch=(action this.mapSearch)
    onMapSearchClear=(action this.mapSearchClear)
    onMapSelect=(action this.mapSelect)
    onMapHover=(action this.mapHover)
  }}
</div>
