{{#pow-panzoom-container
  class='atlas__panzoom-container'
  minZoom=0.5
  maxZoom=1
  zoomSpeed=0.075
  onPanzoom=(action panzoom)
  onPanzoomInitialize=(action panzoomInitialize)
}}
  <div class="atlas__map-background"></div>

  {{pow-atlas/maps
    currentMap=currentMap
    maps=maps
    onMapEnter=(action mapEnter)
    onMapLeave=(action mapLeave)
    onMapClick=(action mapClick)
  }}
{{/pow-panzoom-container}}

{{pow-atlas/popover
  map=hoveredMap
  zoom=zoom
  panTop=panTop
  panLeft=panLeft
}}
