.tile {
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  background-color: $darker;
  transition: background-color ease-in-out 200ms;

  &:hover,
  &:focus {
    color: inherit;
    background-color: darken($primary, 7.5%);

    .tile-image {
      filter: grayscale(0);
      clip-path: polygon(0 0, 60% 0, 100% 100%, 0% 100%);
    }

    .tile-title {
      margin-left: -100px;
    }

    .tile-description {
      margin-left: -75px;
    }
  }
}

.tile-image {
  clip-path: polygon(0 0, 70% 0, 90% 100%, 0% 100%);
  filter: grayscale(50%);
  transition: ease-in-out 200ms;
  transition-property: filter, clip-path;
  align-self: center;
}

.tile-title,
.tile-description {
  transition: margin-left ease-in-out 200ms;
}

.tile-title {
  margin-left: -85px;
}

.tile-description {
  margin-left: -70px;
}
