.tile {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: $border-radius;
  background-color: $darker;
  transition: background-color ease-in-out 200ms;

  &:hover,
  &:focus {
    background-color: darken($primary, 7.5%);
    color: inherit;

    .tile-image {
      clip-path: polygon(0 0, 60% 0, 100% 100%, 0% 100%);
      filter: grayscale(0);
    }

    .tile-title {
      transform: rotate(50deg) translate(-20px, 27px);
    }
  }
}

.tile-image {
  transition: ease-in-out 200ms;
  transition-property: filter, clip-path;
  clip-path: polygon(0 0, 70% 0, 90% 100%, 0% 100%);
  filter: grayscale(50%);
}

.tile-title {
  position: absolute;
  top: 10px;
  left: 360px;
  transform: rotate(68deg);
  transform-origin: top left;
  margin: 0;
  transition: transform ease-in-out 200ms;
}
