<div class="d-flex align-items-center">
  <canvas local-class="canvas"></canvas>

  <div class="ml-4 font-weight-bold">
    <p class="mb-1 " style={{css-style "color" this.challengeColor}}>
      {{t "components.challenge_progress.doughnut_chart.challenge_progress" progress=this.formattedChallengeProgress}}
    </p>

    <p class="mb-0 mt-1">
      {{t "components.challenge_progress.doughnut_chart.league_progress" progress=this.formattedLeagueProgress}}
    </p>
  </div>
</div>
