<div class="d-flex flex-column h-100">
  {{pow-page/dashboard-page/manager
    class="bg-darker border-bottom"
    dashboards=this.dashboards
    activeDashboard=this.activeDashboard
    widgetsAreLocked=this.widgetsAreLocked
    onDashboardSelect=(action this.selectDashboard)
    onDashboardsUpdate=(action this.updateDashboards)
    onWidgetsLockToggle=(action this.toggleWidgetsLock)
  }}

  {{pow-page/dashboard-page/widget-board
    class="flex-grow-1 pt-2"
    activeDashboard=this.activeDashboard
    widgetsAreLocked=this.widgetsAreLocked
  }}
</div>
