@keyframes maps-fade-in {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.atlas-maps__item {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: -25px 0 0 -25px;
}

.atlas-maps__item-map {
  width: 100%;
  height: 100%;
  animation-name: maps-fade-in;
  animation-duration: 2s;
}
