@keyframes maps-fade-in {
  0% { opacity: 0; }
  25% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes map-glow {
  0% { box-shadow: 0 0 40px 0 $white-color; }
  50% { box-shadow: 0 0 50px 30px $white-color; }
  100% { box-shadow: 0 0 40px 0 $white-color; }
}

.atlas-maps__item {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: -25px 0 0 -25px;
  border-radius: 50%;
  cursor: pointer;
}

.atlas-maps__item--active {
  &:before {
    content: '';
    position: absolute;
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: map-glow 1500ms infinite;
    animation-delay: $map-fading-in-duration;
    z-index: $atlas-map-glow-z-index;
  }
}

.atlas-maps__item-map {
  position: absolute;
  width: 100%;
  height: 100%;
  animation-name: maps-fade-in;
  animation-duration: $map-fading-in-duration;
  z-index: $atlas-map-z-index;
}
