$map-fading-in-duration: 1500ms;

@keyframes maps-fade-in {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pantheon-rotation {
  100% {
    transform: rotate(360deg);
  }
}

.pantheon-color {
  color: $pantheon-color;
}

.item {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: -25px 0 0 -25px;
  cursor: pointer;
}

.item-map {
  position: absolute;
  z-index: $zindex-fixed;
  width: 100%;
  height: 100%;
  animation-duration: $map-fading-in-duration;
  animation-name: maps-fade-in;
}

.item-active {
  position: absolute;
  z-index: $zindex-fixed - 2;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 50px 30px $white;
  animation-delay: $map-fading-in-duration;
}

.item-pantheon {
  position: absolute;
  z-index: $zindex-fixed - 1;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  animation: pantheon-rotation 20s infinite linear;

  &::after {
    content: '';
    position: absolute;

    top: 5px;
    right: 5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $pantheon-color;
    box-shadow: 0 0 10px 10px $pantheon-color;
  }
}
