@keyframes maps-fade-in {
  0% { opacity: 0; }
  25% { opacity: 0; }
  100% { opacity: 1; }
}

.atlas-maps__item {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: -25px 0 0 -25px;
  border-radius: 50%;
  cursor: pointer;
}

.atlas-maps__item-map {
  width: 100%;
  height: 100%;
  animation-name: maps-fade-in;
  animation-duration: 1500ms;
}
