$map-fading-in-duration: 1500ms;

@keyframes maps-fade-in {
  0% { opacity: 0; }
  25% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes pantheon-rotation {
  100% {
    transform: rotate(360deg);
  }
}

.item {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: -25px 0 0 -25px;
  cursor: pointer;
}

.item-map {
  position: absolute;
  z-index: $zindex-fixed;
  width: 100%;
  height: 100%;
  animation-duration: $map-fading-in-duration;
  animation-name: maps-fade-in;
}

.item-active {
  position: absolute;
  z-index: $zindex-fixed - 2;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 50px 30px $white;
  animation-delay: $map-fading-in-duration;
}

.item-pantheon {
  position: absolute;
  z-index: $zindex-fixed - 1;
  top: -25%;
  left: -25%;
  width: 150%;
  height: 150%;
  border: 0;
  border-top: 8px solid $pantheon-color;
  border-bottom: 8px solid $pantheon-color;
  border-radius: 50%;
  animation: pantheon-rotation 20s linear infinite;
}
