& {
  display: flex;
  flex-direction: column;
}

.trade-map-list__header {
  display: flex;
  padding: 0 $padding;
  font-family: $font-family-accent;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.trade-map-list__header-properties {
  width: 15%;
}

.trade-map-list__header-mods {
  width: 55%;
}

.trade-map-list__header-listing {
  width: 30%;
  text-align: right;
}
