.toolbar {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform ease-in-out 200ms;

  &.visible {
    transform: translateX(0);
  }
}

.loader {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
